<div class="page__title">
  <span class="title__text">APP FONDESO</span>
</div>

<div class="page__content">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="question-container">
      <div class="question-header">
        <div class="question-body">
          <div><%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class: "question--input" %></div>
        </div>
      </div>
    </div>

    <div class="question-container">
      <div class="question-header">
        <div class="question-body">
          <div><%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off", class: "question--input" %></div>
        </div>
      </div>
    </div>


    <% if devise_mapping.rememberable? -%>
      <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
    <% end -%>

    <div><%= f.submit "ENTRAR", class: "button--full" %></div>
  <% end %>
</div>

<div class="page__content">
  <p>o si a&uacute;n no tienes cuenta...</p>
  <%= render "users/shared/links" %>
  <!-- <a class="button--full" href="/#/usuario/crear/">REG&Iacute;STRATE</a> -->
</div>
