<div class="page__title">
  <span class="title__text">Solicitud de contrase単a nueva</span>
</div>

<div class="page__content">
  <% if flash[:notice].present? %>
    <div class="alert alert-success" role="alert">
      <%= flash[:notice] %>
    </div>
  <% elsif flash[:alert].present? %>
    <div class="alert alert-danger" role="alert">
      <%= flash[:alert] %>
    </div>
  <% end %>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

    <div class="question-container">
      <div class="question-header">
        <div class="question-body">
          <div><%= f.label :password, "Nueva contrase単a" %><br />
            <%= f.password_field :password, autofocus: true, autocomplete: "off" %></div>
        </div>
      </div>
    </div>

    <div class="question-container">
      <div class="question-header">
        <div class="question-body">
          <div><%= f.label :password_confirmation, "Confirma tu nueva contrase単a" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off" %></div>
        </div>
      </div>
    </div>

    <div><%= f.submit "Cambia mi contrase単a", class: "button--full" %></div>
  <% end %>

</div>
