<%= form_for @fund, html: { class: "form-horizontal" } do |f| %>
    <% if @fund.errors.any? %>
      <div id="error_explanation" class="alert alert-danger" role="alert">
        <h2>Revisa por favor los siguientes errores:</h2>

        <ul>
        <% @fund.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

  <div class="form-group">
    <%= f.label :friendly_id, "ID", class: "col-md-3 control-label" do %>
      ID <span class="text-red">*</span>
    <% end %>
    <div class="col-md-9">
      <%= f.text_field :friendly_id, class: "form-control", placeholder: "ej. Beca a los emprendedores" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :name, "Nombre", class: "col-md-3 control-label" do %>
      Nombre <span class="text-red">*</span>
    <% end %>
    <div class="col-md-9">
      <%= f.text_field :name, class: "form-control", placeholder: "ej. Beca a los emprendedores" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :institution, "Institución", class: "col-md-3 control-label" do %>
      Institución <span class="text-red">*</span>
    <% end %>
    <div class="col-md-9">
      <%= f.text_field :institution, class: "form-control", placeholder: "ej. INADEM" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description, "Descripción", class: "col-md-3 control-label" do %>
      Descripción <span class="text-red">*</span>
    <% end %>
    <div class="col-md-9">
      <%= f.text_area :description, class: "form-control", placeholder: "ej. Escribe aquí la descripción del programa" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :characteristics, "Destino del apoyo", class: "col-md-3 control-label" do %>
      Destino del apoyo <span class="text-red">*</span>
    <% end %>
    <div class="col-md-9">
      <%= f.select :characteristics, options_for_select(CHARACTERISTICS, selected=@fund.characteristics), {}, { multiple: true, class: "chosen-select" } %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :deliver_method, "Mecanismo de entrega de apoyo", class: "col-md-3 control-label" do %>
      Mecanismo de entrega de apoyo <span class="text-red">*</span>
    <% end %>
    <div class="col-md-9">
      <%= f.select :deliver_method, options_for_select(DELIVER_METHODS, selected=@fund.deliver_method), {}, { multiple: true, class: "chosen-select" } %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :clasification, "Perfil(es) del Programa", class: "col-md-3 control-label" do %>
      Perfil(es) del Programa <span class="text-red">*</span>
    <% end %>
    <div class="col-md-9">
      <%= f.select :clasification, options_for_select(CLASIFICATION, selected=@fund.clasification), {}, { multiple: true, class: "chosen-select" } %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :special_filters, "Filtros especiales", class: "col-md-3 control-label" %>
    <div class="col-md-9">
      <%= f.select :special_filters, options_for_select(SPECIAL_FILTERS, selected=@fund.special_filters), {}, { multiple: true, class: "chosen-select" } %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :priority, "Prioridad", class: "col-md-3 control-label" %>
    <div class="col-md-9">
      <%= f.select :priority, options_for_select(PRIORITIES, selected=@fund.priority), {}, { class: "chosen-select" } %>
    </div>
  </div>

  <h3>Delegaci&oacute;n</h3>

  <div class="form-group">
    <%= f.label :home_delegation, "Domicilio", class: "col-md-3 control-label" %>
    <div class="col-md-9">
      <%= f.select :home_delegation, options_for_select(DELEGATIONS, selected=@fund.home_delegation), {}, { class: "chosen-select" } %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :business_delegation, "Negocio", class: "col-md-3 control-label" %>
    <div class="col-md-9">
      <%= f.select :business_delegation, options_for_select(DELEGATIONS, selected=@fund.business_delegation), {}, { class: "chosen-select" } %>
    </div>
  </div>

  <!-- <div class="form-group">
    <%= f.label :geographic_operator, "¿Negocio y/ó domicilio?", class: "col-md-3 control-label" %>
    <div class="col-md-9">
      <%= f.select :geographic_operator, options_for_select(GEOGRAPHIC_OPERATORS, selected=@fund.geographic_operator), {}, { class: "chosen-select" } %>
    </div>
  </div> -->

  <div class="form-group">
    <%= f.label :custom_delegation, "Filtros geográficos especiales ", class: "col-md-3 control-label" %>
    <div class="col-md-9">
      <%= f.select :custom_delegation, options_for_select(SPECIAL_DELEGATIONS, selected=@fund.custom_delegation), {}, { multiple: true, class: "chosen-select" } %>
    </div>
  </div>

  <h3>Contacto</h3>

  <div class="form-group">
    <%= f.label :contact, "Persona(s)", class: "col-md-3 control-label" %>
    <div class="col-md-9">
      <%= f.text_field :contact, class: "form-control", placeholder: "ej. Juan Pérez" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :address, "Dirección", class: "col-md-3 control-label" %>
    <div class="col-md-9">
      <%= f.text_field :address, class: "form-control", placeholder: "ej. Colinas del Valle, Colonia Industrial #400, CP 64064, Monterrey, Nuevo León" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :phone, "Teléfono", class: "col-md-3 control-label" %>
    <div class="col-md-9">
      <%= f.text_field :phone, class: "form-control", placeholder: "ej. 81-1611-4798" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :other_phone, "Otro Teléfono", class: "col-md-3 control-label" %>
    <div class="col-md-9">
      <%= f.text_field :other_phone, class: "form-control", placeholder: "ej. 81-1611-2732 ext.2" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :email, "Correo electrónico", class: "col-md-3 control-label" %>
    <div class="col-md-9">
      <%= f.text_field :email, class: "form-control", placeholder: "ej. juan@fondeso.gob.mx" %>
    </div>
  </div>


  <%= f.submit "Guardar", class: "btn btn-default pull-right", style: "margin-right:15px;" %>
<% end %>

<script charset="utf-8">
  $('.chosen-select').chosen({
    allow_single_deselect: true,
    no_results_text: 'No hay resultados',
    placeholder_text: 'Selecciona algunas opciones',
    width: '200px'
  });
</script>
