<%= form_for @fund, html: { class: "form-horizontal" } do |f| %>
    <% if @fund.errors.any? %>
      <div id="error_explanation" class="alert alert-danger" role="alert">
        <h2>Revisa por favor los siguientes errores:</h2>

        <ul>
        <% @fund.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

  <div class="form-group">
    <%= label_tag :name, "Nombre", class: "col-md-3 control-label" %>
    <div class="col-md-9">
      <%= f.text_field :name, class: "form-control", placeholder: "ej. Beca a los emprendedores" %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :institution, "Institución", class: "col-md-3 control-label" %>
    <div class="col-md-9">
      <%= f.text_field :institution, class: "form-control", placeholder: "ej. INADEM" %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :description, "Descripción", class: "col-md-3 control-label" %>
    <div class="col-md-9">
      <%= f.text_area :description, class: "form-control", placeholder: "ej. Escribe aquí la descripción del programa" %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :characteristics, "Características de apoyo", class: "col-md-3 control-label" %>
    <div class="col-md-9">
      <%= f.select :characteristics, options_for_select(CHARACTERISTICS, selected=@fund.characteristics), {}, { multiple: true, class: "chosen-select" } %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :deliver_method, "Mecanismo de entrega de apoyo", class: "col-md-3 control-label" %>
    <div class="col-md-9">
      <%= f.select :deliver_method, options_for_select(DELIVER_METHODS, selected=@fund.deliver_method), {}, { multiple: true, class: "chosen-select" } %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :clasification, "Clasificación del Programa", class: "col-md-3 control-label" %>
    <div class="col-md-9">
      <%= f.select :clasification, options_for_select(CLASIFICATION, selected=@fund.clasification), {}, { multiple: true, class: "chosen-select" } %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :special_filters, "Filtros especiales", class: "col-md-3 control-label" %>
    <div class="col-md-9">
      <%= f.select :special_filters, options_for_select(SPECIAL_FILTERS, selected=@fund.special_filters), {}, { multiple: true, class: "chosen-select" } %>
    </div>
  </div>

  <h3>Delegaci&oacute;n</h3>

  <div class="form-group">
    <%= label_tag :home_delegation, "Domicilio", class: "col-md-3 control-label" %>
    <div class="col-md-9">
      <%= f.select :home_delegation, options_for_select(DELEGATIONS, selected=@fund.home_delegation), {}, { class: "chosen-select" } %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :business_delegation, "Negocio", class: "col-md-3 control-label" %>
    <div class="col-md-9">
      <%= f.select :business_delegation, options_for_select(DELEGATIONS, selected=@fund.business_delegation), {}, { class: "chosen-select" } %>
    </div>
  </div>

  <%= f.submit "Guardar", class: "btn btn-default pull-right", style: "margin-right:15px;" %>
<% end %>

<script charset="utf-8">
  $('.chosen-select').chosen({
    allow_single_deselect: true,
    no_results_text: 'No hay resultados',
    placeholder_text: 'Selecciona algunas opciones',
    width: '200px'
  });
</script>
