<h3>Programas</h3>
<div class="row">
  <div class="col-sm-11 col-md-10">
    <%= form_tag funds_path, method: "get", class: "" do %>
      <div class="row form-group">
        <div class="col-sm-8 col-md-10">
          <%= text_field_tag :search, params[:search], placeholder: "busca programas por nombre o institución", class: "form-control" %>
        </div>
        <div class="col-sm-4 col-md-2">
          <%= submit_tag "Buscar", class: "btn btn-default" %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-sm-1 col-md-2">
    <%= button_to "Nuevo Programa", new_fund_path, method: :get, class: "btn btn-default pull-right" %>
  </div>
</div>

<table class="table">
  <tr>
    <th><strong>Nombre</strong></th>
    <th><strong>Instituci&oacute;n</strong></th>
    <th><strong>Descripci&oacute;n</strong></th>
    <th><strong>Acciones</strong></th>
  </tr>
<% @funds.each do |f| %>
  <tr>
    <td>
      <% if f.has_incomplete_information? %>
        <span class="label label-danger">incompleto</span>
      <% end %>
      <%= f.name %>
    </td>
    <td><%= f.institution %></td>
    <td><%= f.description %></td>
    <td>
      <%= link_to t(".edit"), edit_fund_path(f) %> |
      <%= link_to t(".delete"), fund_path(f), method: :delete, data: { confirm: "¿Seguro que deseas borrar este fondo?" } %>
    </td>
  </tr>
<% end %>
</table>
<%= paginate @funds %>
