<!DOCTYPE html>
<html>
<head>
  <title><%= @app_title %></title>
  <link href='http://fonts.googleapis.com/css?family=Muli:400,300italic|Montserrat:700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'fondeso-app', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="header--logos">
      <%= image_tag "fondeso/logos-sedeco-cdmx.png" %>
      <%= image_tag "fondeso/header-logo.png" %>
      <%= image_tag "fondeso/logo-cdmx.png" %>
    </div>

    <div class="page">
      <div id="content">
        <%= yield %>
      </div>
    </div>
    <div class="bar--social">
      <a target="_blank" href="http://www.facebook.com/FONDESO"><i class="icon icon-facebook"></i><span>/FONDESO</span></a>
      <a target="_blank" href="http://twitter.com/fondesoCDMX"><i class="icon icon-twitter"></i><span>@FondesoCDMX</span></a>
      <a target="_blank" href="http://www.fondeso.df.gob.mx">http://www.fondeso.df.gob.mx</a>
    </div>
    <div class="footer">
      <%= image_tag "fondeso/logo-usaid.png" %>
      <%= image_tag "fondeso/logo-codeando.png" %>
      <%= image_tag "fondeso/logo-fondeso.png" %>
      <div class="footer__links">
        <span><%= link_to "Términos y Condiciones", terms_and_conditions_path %></span>
        <span><%= link_to "Aviso de Privacidad", privacy_path %></span>
      </div>
    </div>
</body>
</html>
